:root {
  --white: #ffffff;
  --black: #000000;
  --black-second: #212121;
  --gray-second: #2f303a;
  --gray-footer: rgba(255, 255, 255, 0.6);
  --gray: #757575;
  --button-color: #f5f4fa;
  --color-team: #f5f4fa;
  --blue: #2196f3;
}

* {
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 50px;
}

figure {
  margin-block-start:0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.flex {
  display: flex;
  height: 80px;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.section--padding-top {
  padding-top: 94px;
}
.article,
.heading__image,
.our-team__person,
.address,
.btn,
.pictures {
  list-style: none;
}

.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-right: 47px;
}

.logo--color {
  color: var(--blue);
}

.menu {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__item {
  padding-left: 46px;
  text-decoration: none;
  list-style: none;
  color: var(--black-second);
}

.menu__item--active {
  color: var(--blue);
}

.menu__contact {
  text-decoration: none;
  list-style: none;
  color: var(--gray);
}
.menu__contact--padding-mail {
  padding-left: 371px;
}
.menu__contact--padding-tel {
  padding-left: 50px;
}

.menu__item:hover,
.menu__item:focus,
.menu__contact:hover,
.menu__contact:focus {
  color: var(--blue);
}

.wallpaper {
  background-color: var(--gray-second);
  text-align: center;
  display: flex;
  height: 600px;
}

.wallpaper__heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 30px;
}

.button__item {
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  left: 700px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
}

.button__item:focus,
.button__item:hover {
  background: var(--button-color);
  color: var(--blue);
}

.article--flex {
  display: flex;
  gap: 30px;
}
.article__heading {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--black-second);
}

.article__summary {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-second);
  text-align: center;
}

.images-flex {
  display: flex;
  justify-content: center;
}
.heading__image--padding {
  padding: 0 30px;
}

.out-team--background {
  background: var(--color-team);
}

.our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-second);
}

.our-team__person {
  gap:30px;
}
.our-team__person--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--black-second);
}

.our-team__person--specialization {
  color: var(--gray);
  font-weight: 400;
}

.footer--background {
  background-color: var(--gray-second);
}

.logo--color-footer {
  color: var(--white);
}

.address__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-footer);
  font-style: normal;
}
.address__item--contact {
  text-decoration: none;
  color: var(--gray-footer);
  font-style: normal;
}

.address__item:hover,
.address__item:focus,
.address__item--contact:hover,
.address__item--contact:focus {
  color: var(--white);
}

.btn--theme {
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--black-second);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}

.btn__all {
  width: 121px;
  height: 38px;
}

.btn__sites {
  width: 93px;
  height: 38px;
}

.btn__apps {
  width: 114px;
  height: 38px;
}

.btn-design {
  width: 91px;
  height: 38px;
}
.btn-marketing {
  width: 121px;
  height: 38px;
}
.btn__all:hover,
.btn__all:focus,
.btn__sites:hover,
.btn__sites:focus,
.btn__apps:hover,
.btn__apps:focus,
.btn-design:hover,
.btn-design:focus,
.btn-marketing:hover,
.btn-marketing:focus {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.pictures--heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-second);
}

.pictrures--summary {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray);
}
